@import "../../style.scss";

.button-frame-container {

    @include themify($themes) {
        background-color: themed("bg");
        // width: 90%;
        align-items: center;
        height: 5px;
        display: flex;
        justify-content: space-between;
        padding: 5%;
        border-radius: 16px;
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
         box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        margin-bottom: 10px;
    /* Adjust padding as needed */
    

    .button-category {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 10px;

        .img-category{
            width: 60px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            background-color: themed("bgl");        }
    }
}
    .image-wrapper {
        width: 60px;
        height: 60px;
        border-radius: 50%; 
        background-color: white; 
        display: flex; 
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
      }
      
      .image-wrapper img {
        max-width: 80%; 
        max-height: 80%;
        object-fit: contain; 
      }
      

    .button {
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
        border: none;
        cursor: pointer;
        background-color: transparent;
        /* Remove default button background color */
    }
}